h2 {
  margin-bottom: 1rem;
}

p {
  text-align: left;
  margin-bottom: 3rem;
}

blockquote {
  font-size: 2rem;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

blockquote::before {
  content: "\f10d";
  font-family: "FontAwesome";
  position: absolute;
  top: -5px;
  left: -10px;
  font-size: 1.5em;
}

button {
  background-color: transparent;
  border: solid 1px #000000;
  padding: 1rem 2rem;
  color: #000000;
  font-size: 2rem;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #000;
  padding: 1rem 2rem;
  color: #ffffff;
  font-size: 2rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 80%; /* Set a maximum width for the container */
}

.title h2,
.title p {
  margin-bottom: 0rem;
}

.title p {
  color: #ffffff;
}

.informations > p {
  margin: 0;
}
.informations > p:nth-child(2n) {
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}
